@import "../abstracts/mixins";

.contenedorFooter{
    display: flex;
    flex-wrap: nowrap;
    background-color: $colorSecundario;
    width: 100%;
    justify-content: space-evenly;
}

.enlacesFooter{
    color: $colorBlanco;
}

.redes{
    align-items: baseline;
}

.redes__icono{
    height: 60px;
}

.legales{
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.75);
    align-items: center;
    justify-content: center;

}
