
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #082032, white);
}