.formulario {
    background-color: $colorResaltado;


    @include responsive(sm) {
        margin: 3rem;
        padding: 3rem;
    }

    @include responsive(lg) {
        margin: 10rem;
        padding: 3rem;
    }
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.mapa__frame{
    height: 400px;
    width: 90%
}