.equipos{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.equipoArmado{
    @include fondoGlass;

    
    @include responsive(sm){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-content: center;
    }
    
    @include responsive(md){
        height: 200px;
        display: flex;
        margin: 1rem;
        border-style: solid;
        justify-content: center;
    }
}

.equipoArmado__imagen{
    height: 195px;
    width: 200px;
}

.equipoArmado__fichaTecnica{
    align-self: center;

}

.item__pedirPresupuesto{
    align-self: center;
    padding-left: 2rem;
}

.item__pedirPresupuesto{

}