.tituloEquiposArmados{
    text-align: center;
    color: $colorBlanco;
}

.equipos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

    @include responsive(sm){
        flex-direction: column;
        row-gap: 2rem;
    }

    @include responsive(md){
        flex-direction: row;
    }
}

.equipoArmado{
    background-color: $colorResaltado;
}
