@import "../abstracts/mixins";

.articulosDestacados__contenedor {
    display: grid;
}

.articulosDestacados__link {
    position: absolute;
    background-color: $colorSecundario;
    border-style: solid;
    border-color: $colorBlanco;
    border-radius: 30px;
    padding: 2rem;
    margin: auto;
    display: none;
}

.articulosDestacados__imagen--hover:hover {
    animation: flip-diagonal .4s cubic-bezier(.455, .03, .515, .955) both;
    filter: blur(8px);
}

.articulosDestacados__link:hover{
    display: block;
}


.articulosDestacados__imagen--hover:hover + .articulosDestacados__link {
    display: block;
}

@keyframes flip-diagonal {
    0% {
        transform: rotate3d(1, 1, 0, 0deg)
    }

    100% {
        transform: rotate3d(1, 1, 0, -360deg)
    }
}

.articulosDestacados {
    width: 90%;
    padding-left: 10%;
    display: grid;

    @include responsive(sm) {
        grid-template-columns: 100%;
    }

    @include responsive(md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }
}

.artDestacados__imagen {
    bottom: 50px;
}

.artDestacados__imagen {


    @include responsive(sm) {
        margin: 10px;
        height: 200px;
        width: 92%;
    }

    @include responsive(md) {
        height: 100%;
        width: 500px;
    }
}

.empresaInformacion {
    display: grid;

    @include responsive(sm) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include responsive(lg) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

.empresaInformacion__texto {

    @include responsive(sm) {
        margin: 10px;
        padding: 10px;
        background-color: rgba(51, 71, 86, 0.75);
        color: $colorBlanco;
        font-size: 14px;
    }

    @include responsive(lg) {
        margin: 3rem;
        padding: 3rem;
        background-color: rgba(51, 71, 86, 0.75);
        color: $colorBlanco;
    }
}

.empresaInformacion__video {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    padding: 3rem;
    margin: 3rem;
}

.empresaInformacio_iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}