.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    border-style: solid;
    background-color: $colorResaltado;
    text-align:left;
    margin: 1rem;
    height: 450px;
    width: 300px;
}

.item__imagen{
    margin: 15px;
    margin-left: 22px;
    height: 180px;
    width: 85%;
    border-style: solid;
    border-color: $colorBlanco;
    border-radius: 30px;
}

.item__titulo{
    text-align: center;
    text-shadow: black 1px 0 10px;
}
