@mixin responsive($breakpoint){
    @media screen and (min-width: map-get($breakpoints , $breakpoint)){
        @content; 
    }
}

@mixin colorSombreado{
    color: $colorBlanco;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase;
}

@mixin fondoGlass{
    background: rgba( 255, 255, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
