@import "./sass/abstracts/variables";

@import "./sass/base/reset";
@import "./sass/base/typography";

@import "./sass/pages/index";
@import "./sass/pages/productos";
@import "./sass/pages/equiposarmados";
@import "./sass/pages/contacto";
@import "./sass/pages/ayuda";

@import "./sass/layout/header";
@import "./sass/layout/footer";
